@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    
}
* {
    margin: 0px;
    padding: 0px;
}
.cabecalho {
    background-color: lightblue;
    color: white;
    text-align: center;
    min-height: 100px;
    padding-top: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.671);
}

.imgprincipal {
    padding: 15px;
    width: 600px;
    border-radius: 25px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}